* {overflow:scroll;}


body {margin: 1vw;
  padding: 1vw;
    background: orange;
  }
  h1 {text-align: center;
  font-size: 7vw;}

.grid {display: grid;
    grid-template-columns: repeat(4, 17vw);
    grid-template-rows: minmax(10vw, auto) repeat(5, 17vw);
    justify-content: center;}

.grid button {
border: 2px solid white;
font-size: 5.5vw;
background-color: bisque;
cursor: pointer;
}

.grid button:hover {background-color: aliceblue;
  transition: 0.35s ease;}
  
  .all-clear, .equals {grid-column: span 2;}

.output {grid-column: 1/-1;
background-color: black;
opacity: 80%;
color: white;
display: flex;
justify-content: space-around;
align-items: flex-end;
flex-direction: column;
padding: 0vw;
height: 17.6vw;
padding-right: 2vw;
padding-top: 1vw;}

.output .previous-op {
font-size: 4vw;
color: lightgray;}

.output .current-op {
font-size: 7vw;
color: white;}

.signop {font-size: 4vw;
padding: 0vw;}


















@media only screen and (min-width: 469px) {




    
      
  .grid {display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(100px, auto) repeat(5, 85px);
  justify-content: center;}
  
  
  .grid button {
    border: 2px solid white;
    font-size: 2rem;
    background-color: bisque;
    cursor: pointer;
  }
  h1{font-size: 4.5vh;}
  
  
  .output {grid-column: 1/-1;
  background-color: black;
  opacity: 80%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  height:10vh;
  padding: 15px;}
  
  .output .previous-op {
  font-size: 1.5em;
  color: lightgray;}
  
  .output .current-op {
    font-size: 2.5em;
  color: white;}

footer {margin-top: 10vw}

}



  @media only screen and (min-width: 1069px) {




    
      
      .grid {display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-template-rows: minmax(100px, auto) repeat(5, 85px);
      justify-content: center;}
      
      
      .grid button {
        border: 2px solid white;
        font-size: 2rem;
        background-color: bisque;
        cursor: pointer;
      }
      h1{font-size: 3vw;}
      
      
      .output {grid-column: 1/-1;
      background-color: black;
      opacity: 80%;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-direction: column;
      height:10vh;
      padding: 15px;}
      
      .output .previous-op {
      font-size: 1.5em;
      color: lightgray;}
      
      .output .current-op {
        font-size: 2.5em;
      color: white;}
    
    footer {margin-top: 10vw}
    
  }


 
