
* {overflow:scroll;}

body {margin: 1vw;
  padding: 1vw;
    background: orange;
  }
  h1 {text-align: center;}
  
  .grid {display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(100px, auto) repeat(5, 85px);
  justify-content: center;}
  
  
  .grid button {
    border: 2px solid white;
    font-size: 2rem;
    background-color: bisque;
    cursor: pointer;
  }
  
  .grid button:hover {background-color: aliceblue;
  transition: 0.35s ease;}
  
  .all-clear, .equals {grid-column: span 2;}
  
  .output {grid-column: 1/-1;
  background-color: black;
  opacity: 80%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding: 15px;}
  
  .output .previous-op {
  font-size: 1.5em;
  color: lightgray;}
  
  .output .current-op {
    font-size: 2.5em;
  color: white;}


















  @media screen and (max-width: 669px) {


    .grid {display: grid;
      grid-template-columns: repeat(4, 17vw);
      grid-template-rows: minmax(100px, auto) repeat(5, 17vw);
      justify-content: center;}

.grid button {
  border: 2px solid white;
  font-size: 5.5vw;
  background-color: bisque;
  cursor: pointer;
}


.output {grid-column: 1/-1;
background-color: black;
opacity: 80%;
color: white;
display: flex;
justify-content: space-around;
align-items: flex-end;
flex-direction: column;
padding: 0.8vw;
height: 12.6vh;}

.output .previous-op {
font-size: 4vw;
color: lightgray;}

.output .current-op {
  font-size: 7vw;
color: white;}

  }
  
  